/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"); */


* {
  margin: 0;
  padding: 0;
  /* if we add any border padding it will not affect overall the size of element  */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


:root{
  --theme-color: #8d016a;
  --neon-color: #8d016a;;
}


body {
  /* font-family: 'MemphisRiver', sans-serif; */
  /* font-size: 2.2em; */
  /* font-weight: 10; */
  background-color: rgb(133, 177, 45);
}


:root {
  --overlay-color: #ca6239;
  --neon-color: #1f1f1f;
}

/* keeps the raven aligned  */
header {
  position: absolute;
}


.masthead{
	
  display: block;
}

