@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* ==== Reseting  Default CSS =====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1f1f1f;
}

.text {
  color: #fff;
}

.title {
  color: coral;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.overlay {
  background-image: url(/img/suku-background-bw-single.jpg);
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.055);

  /* background: var(--overlay-color); */
  mix-blend-mode: overlay;
  opacity: 0.5;
}

h1 {
  align-items: right;
  /* justify-content: end; */
  font-size: 3em;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
  padding-left: 3rem;
  /* font-size: 2.2em; */
  /* font-weight: 16; */
  color: aqua;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  /* margin-left: auto; */
  /* margin-top: 30px; */
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

.max-width {
  /* margin-top: 200px; */
  max-width: 100%;
  /* margin: 0px 0px; */
}

section {
  width: 100%;
  background-color: var(--back-ground-color);
  /* position: relative; */
}

section .container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

section.max-width {
  width: 100%;
}

section .container > * {
  margin: 2rem;
}

.content {
  color: #fff;
  transform: translateY(-50px);
}

.imgContainer {
  transform: translateY(50px);
  width: 100%;
}

.border {
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.shadow {
}

/* .opacity{
    opacity: 1;
} */

.text {
  color: #fff;
}

.dance {
  padding: 10px 100px;
  max-width: 1200px;
}

.video-gallery .video-list .vid.active {
  background: rgb(54, 199, 35);
}

/* <===== SECTION 2 ====> */

.section-2 .overlay {
  background-image: url(/img/suku-dance-pose.jpg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;

  background-position: 800px;

  /* background-size: cover; */
  width: 100%;
  height: 100%;

  /* background-color: rgba(9, 238, 97, 0.055); */

  /* Color Blending  */
  /* background: transparent; */
  /* background: var(--overlay-color); */
  mix-blend-mode: overlay;
  opacity: 0.9;
  /* z-index: 1; */
}

/* GALLERY */
.container-2 {
  position: relative;
  min-height: 100vh;
  /* background:#334; */
}

.container-2 .video-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 10px;
}

.container-2 .video-container .vid {
  height: 250px;
  width: 350px;
  border: 1.5px solid peachpuff;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  overflow: hidden;
}

.container-2 .video-container .vid div {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.container-2 .video-container .vid:hover div {
  transform: scale(1.04);
}

.container-2 .video-container .vid .video-wrapper iframe {
  /* margin-left: auto; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .video-gallery {
    grid-template-columns: 1fr;
  }

  section .container {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 2em;
  }

  .overlay {
    background-image: url(/img/suku-background-bw-single.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: overlay;
    opacity: 0.9;
  }

  .section-2 .overlay {
    background-image: url(/img/suku-dance-pose.jpg);
    background-repeat: no-repeat;
    /* position: relative; */


    width: 100%;
    height: 100%;

    opacity: 0.9;
    /* z-index: 1; */
  }
}
