<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👻</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/raven.css">
    <link rel="stylesheet" href="/css/about_me.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/scroll_to_top.css">


    <title>About Me</title>
</head>

<body>
    <header>
        <h2 class="logo neon-text"><a class="logo neon-text" href="/index.html">Sukanya Ray</a></h2>

        <!-- <div class="toggle"><i id="toggle" class="fa-solid fa-bars fa-xl"></i></div> -->

        <div class="nav-but-wrap">
            <div class="menu-icon hover-target">
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>
            </div>
        </div>

    </header>
    <div class="nav">
        <div class="nav__content">
            <ul class="nav__list">
                <li class="nav__list-item active-nav">
                    <a href="./index.html" class="hover-target">Home</a>
                </li>
                <li class="nav__list-item">
                    <a href="./components/about_me.html" class="hover-target">About Me</a>
                </li>
                <li class="nav__list-item">
                    <a href="./components/work.html" class="hover-target">My Work</a>
                </li>
                <li class="nav__list-item">
                    <a href="./components/contact.html" class="hover-target">Contact</a>
                </li>
            </ul>
        </div>
    </div>


    <br><br><br><br><br>




    <section class='masthead'>
        <!-- <p class='masthead-intro'>Hi I'm</p> -->
        <br>
        <!-- <h1 class='masthead-heading'>Sukanya</h1> -->
        <!-- <h1 class='masthead-heading neon-text-pulsate'>Sukanya Ray</h1> -->
        <svg height="100" stroke="#9b2674" stroke-width="2" class="text-line masthead-heading" width="100%"><text
                x="30%" dominant-baseline="middle" text-anchor="middle" y="30%">Sukanya☆</text></svg>
        <!-- <div class="overlay"></div> -->
    </section>

    <img id="cover" class="header_pic" src="/img/IMG_9165_Mobile.JPG" alt="cover">



    <div class="content">

        <section class="introduction-section">
            <h1>Introduction</h1>
            <p>I am a Senior Academic Specialist at BYJU'S and a part-time social media manager.
                I love art, dance and acting.</p>

        </section>
        <section class="location-section">
            <h1>Where I'm From</h1>
            <p>I'm originally from 📍Siliguri, a beautiful city in the heart of West Bengal.</p>
        </section>
        <section class="questions-section">
            <h1>More About Me</h1>

            <h2>What are your favourite hobbies?</h2>
            <p>My favourite hobby is dancing. Dance relaxes my mind and is like therapy for my body and soul.</p>

            <h2>Where do you currently live?</h2>
            <p>I am currently in Bangalore but often travel for workations across India.</p>

            <h2>What's your dream job?</h2>
            <p>My dream job is to not do a job 🥳.
                I want to travel the world to see the sunsets and hear the chirping of the birds and live my soul out.
            </p>
        </section>
    </div>




    <footer class="content-footer">
        <p>Say hi to me on these social networks:</p>
        <ul class="social">
            <li><a class="css-is-deranged" href="_INSERT_GOOGLE+_URL_HERE_">Facebook</a></li>
            <li><a class="css-is-deranged" href="_INSERT_GITHUB_URL_HERE_">Instagram</a></li>
            <li><a class="css-is-deranged" href="_INSERT_TWITTER_URL_HERE_">Twitter</a></li>
        </ul>
    </footer>


    <div id="progress" class="animate__animated animate__headShake">
        <span id="progress-value"><i class="fa-solid fa-arrow-up fa-xs"></i></span>
    </div>


    <!--===== MAIN JS =====-->
    <script src="/js/confetti.js"></script>
    <!-- <script src="js/header.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/raven.js"></script>
    <script src="/js/scroll_to_top.js"></script>




</body>

</html>